<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <!-- Source is the same name as the dotnet-setup action uses -->
        <add key="Source" value="https://nuget.pkg.github.com/chklauser/index.json" />
    </packageSources>
</configuration>
