<h1>Prexonite Script</h1>
<p>Prexonite, a .NET hosted scripting language with a focus on meta-programming and embedded DSLs</p>

<p class="view"><a href="https://github.com/SealedSun/prx">View the Project on GitHub <small>SealedSun/prx</small></a></p>


<ul>
  <li><a href="https://github.com/SealedSun/prx/zipball/master">Download <strong>ZIP File</strong></a></li>
  <li><a href="https://github.com/SealedSun/prx/tarball/master">Download <strong>TAR Ball</strong></a></li>
  <li><a href="https://github.com/SealedSun/prx">View On <strong>GitHub</strong></a></li>
</ul>