 <nav>
  <ul class="slug-{{page.slug}}">
    <li class="slug-home"><a href="/"><strong>Home</strong></a></li>
    <li class="slug-blog"><a href="/blog.html"><strong>Blog</strong></a></li>
    <li class="slug-docs"><a href="/doc.html"><strong>Docs</strong></a></li>
    <li class="slug-releases"><a href="https://github.com/SealedSun/prx/downloads"><strong>Releases</strong>on GitHub</a></li>
    <li class="slug-author"><a href="http://github.com/SealedSun"><strong>Author</strong>on GitHub</a></li>
  </ul>
 </nav>