{% for post in posts %}
<article>
	<h1><a href="{{ post.url }}" class="dark-link">{{ post.title }}</a></h1>
	<div class="low-top">
		<span class="low-top ">Posted on  {{ post.date | date: "%Y-%m-%d" }} </span>
	</div>

	{% if post.summary %}	
	<p>{{ post.summary | strip_html | truncatewords: 150 }}</p>
	{% elsif post.description %}
	<p>{{ post.description | strip_html | truncatewords: 100 }}</p>
	{% else %}
	<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
	{% endif %}
	
	<p class="read-more"><a href="{{ post.url }}">Read more...</a></p>
</article>
{% endfor %}